@charset "UTF-8";
/* CSS Document */

body{
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
}
input{
	/* height: 20px;; */
	width: 85%;
	margin: 4px;
	padding-left: 10px;
}
select{
	/* height: 20px;; */
	width: 87%;
	margin: 4px;
	padding-left: 10px;
}

.logo{
	display: block;
	margin: 0 auto;
	margin-top: 30px;
}
.titulo{
	text-align: center;
	color: #731b58;
}
.cover{
	display: block;
	margin: 0 auto;
	max-width: 690px;
	width: 100%;
}
.txtcover{
	background-color: #731b58;
	text-align: center;
	max-width: 750px;
	margin: 0 auto;
	color: #FFF;
	padding-top: 170px;
	margin-top: -170px;
	padding-left: 2%;
	padding-right: 2%;
	padding-bottom: 30px;
	width: 96%;
}
.iconos{
	max-width: 800px;
	width: 100%;
	margin: 0 auto;
	text-align: center;
	margin-top: 90px;
	margin-bottom: 150px;
}
.col-3{
	width: 30%;
	display: inline-block;
	margin-right: 30px;
	vertical-align: top;
	color: #731b58;
}
.intermediarios{
	margin-right: 0;
}
.clearfix::after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}
.left{
	float: left;
	width: 50%;
}
.envolvente{
	float: right;
	width: 48%;
	text-align: left;
	color: #731b58;
}
.right{
	float: right;
	width: 50%;
}
.envolvent{
	float: left;
	width: 48%;
	text-align: left;
	color: #731b58;
}
.imagenes{
	padding-bottom: 90px;
}
.register, .form-submit{
	color: #FFF;
	background-color: #f36620;
	display: block;
	text-align: center;
	padding: 20px 5%;
	font-size: 21px;
	font-weight: bold;
	text-decoration: none;
	width: 90%;
	max-width: 700px;
	margin: 0 auto;
}
.iconos.abajo{
	margin-bottom: 0;
}
.footer{
background-color: #333;
text-align: center;
padding: 30px 0;
margin-top: 90px;
color: #888;
}





@media all and (max-width: 760px) {
.col-3 {
width: 90%;
display: block;
margin: 0 auto;
vertical-align: top;
color: #731b58;
}
.left {
float: none;
width: 100%;
}
.envolvente {
float: none;
width: 90%;
text-align: left;
color: #731b58;
margin: 0 auto;
}
.right {
float: none;
width: 100%;
}
.envolvent {
float: none;
width: 90%;
text-align: left;
color: #731b58;
margin: 0 auto;
}
}